@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background-image: url("https://images.wallpaperscraft.com/image/single/road_sunset_horizon_marking_118582_1920x1080.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}